version: '3.8'

services:
  app-dev:
    container_name: food-calendar-api-dev
    image: mcr.microsoft.com/devcontainers/java:1-21-bullseye
    volumes:
      - ../:/workspace:cached
    command: sleep infinity
    network_mode: service:db

  db:
    image: postgres:18-alpine
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: food_calendar

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8081:8080"
    depends_on:
      - keycloak-db

  keycloak-db:
    image: postgres:18-alpine
    volumes:
      - keycloak-postgres-data:/var/lib/postgresql
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password

volumes:
  postgres-data:
  keycloak-postgres-data:
